@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0;
}

header nav ul {
  display: flex;
  gap: 2em;
}

header nav a {
  color: #242e52;
  font-size: 13px;
}

header nav a:hover {
  color: rgba(36, 46, 82, 0.6);
}

body {
  display: flex;
  flex-direction: column;
}

.box__container {
  display: flex;
  flex-direction: row;
  padding: 5% 10%;
}

.container__item {
  display: flex;
  width: 50%;
  text-align: left;
  align-items: center;
  justify-content: flex-end;
}

.text {
  text-align: right;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.text h2 {
  font-size: 50px;
}

.box__container__color {
  display: flex;
  flex-direction: row;
  padding: 40px 200px;
  background: #8b48bf;
  color: white;
  gap: 5em;
}

.box__container__color h2 {
  font-size: 36px;
}

.container__broad {
  margin-top: 5em;
  padding: 65px 164px;
}

.textcard__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 5% 5%;
  background-color: #fafafa;
  gap: 3em;
}

.card__name {
  color: #3f4868;
}

.card__description {
  color: #8c8c94;
}

.text__card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 40%;
  padding-right: 5em;
}

.text__card .card__description {
  position: relative;
  left: 90px;
}

.text__card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  position: relative;
}

.button__purple {
  border: none;
  padding: 1em 2em;
  background: #8b48bf;
  color: white;
  border-radius: 50px;
}

.button__purple:hover {
  background: rgba(139, 72, 191, 0.7);
}

.button__white {
  border: none;
  padding: 1em 3em;
  background: white;
  color: #8b48bf;
  border-radius: 50px;
}

.button__shadow {
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.button__broad {
  padding: 1em 3em;
}

.employee__container {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.employee__container h3 {
  font-size: 40px;
  margin-bottom: 60px; /*compensate height of position relative in img*/
}

.employee__card__container {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  gap: 1em;
}

.employee__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 0em 2em;
  position: relative;
  top: -30px;
}

footer {
  background: #1e1e26;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 170px;
}

footer a {
  color: #fff;
  font-size: 16px;
}

footer input {
  border-radius: 50px;
  border: none;
  height: 3em;
  padding: 1em;
}

footer .logo {
  width: 110px;
}

.footer__items {
  display: flex;
  gap: 2em;
}

footer .column li{
  margin-bottom: 12px;
}

.footer__items__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8em;
}

.footer__items__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.media__icons {
  display: flex;
  gap: 1em;
}

footer .copyright {
  margin-top: 3em;
  width: 100%;
  text-align: right;
  font-size: 12.5px;
  color: #8c8c94;
}
